$breakpoint-desktop: 1199px;
$breakpoint-tablet: 991px;
$breakpoint-mobile: 767px;

$font-1: 'Open Sans', sans-serif;	// Headings
$font-2: 'Domine', serif;		// Text
$font-logo: 'Merriweather', serif;	// Logo

// Text colors
$heading-color: #606060;
$text-color-1: #858585;

$color-1: #14b3f0; // lichtblauw
$color-2: #2e8dde; // donker blauw


$color-3: #48d2a0; // 
$color-4: #48d2a0; // 

// Section Light or Dark

$section-color: #f7f7f7;	// Background-color of blocks

